body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Sawarabi Mincho', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d5c5c8;
  background-image: url('/src/assets/images/backgrounds/graphpaper.png') ;
  color: #001242;
}

.paper-card {
  border-image: url('/src/assets/images/backgrounds/paperBorder.png');
  border-image-slice: 50 fill;
  border-image-repeat: repeat;
}

h1 {
  font-family: 'Permanent Marker', cursive;
}
h2 {
  font-family: 'Permanent Marker', cursive;
}
h3 {
  font-family: 'Permanent Marker', cursive;
}
.header-text {
  font-family: 'Permanent Marker', cursive;
  transition: 0.3s;
}
.header-text:hover {
  transform: scale(1.1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  border-top: 1px solid #6a7b76;;
}



/* Keyframes and animations*/
@keyframes grow {
  from {transform: scale(1.1);}
  to {transform: scale(1.2);}
}
@keyframes grow-in {
  from {transform: scale(0.95);}
  to {transform: scale(1);}
}
@keyframes grow-in-modal {
  from {transform: scale(0);}
  to {transform: scale(1);}
}
@keyframes fade-in-modal-bg {
  from {opacity: 0;}
  to {opacity: 1;}
}

.grow {
  animation-name: grow;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.grow-in {
  animation-name: grow-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.grow-in-modal {
  animation-name: grow-in-modal;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
.fade-in-modal-bg {
  animation-name: fade-in-modal-bg;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}



/* NavBar */
.nav-name {
  color: rgb(255, 255, 255);
  font-size: 36px;
  text-decoration: none;
  transition: 0.5s;
}
.nav-name:hover {
  color: rgba(255, 255, 255, 0.568);
  font-size: 36px;
  text-decoration: none;
}

/* About me page */
.portrait {

  border-radius: 50%;
  animation-fill-mode: forwards;
  transition: 0.5s;
  

}

/* Project Page */
.project-card {
  cursor: pointer;
  transition: 0.5s;
}

.project-card:hover {
  box-shadow: 0 6px 6px 3px grey;
  transform: scale(1.05);
}

/* Modal */
.modal-background {
  background:rgba(0, 0, 0, 0.671);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  overflow: auto;
  position: fixed;
}

.modal-container {
  box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.473);
  margin: 50px auto;
  background-color: rgb(202, 202, 202);
  border-radius: 6px;
}

.modal-image {
  box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.473);
  padding: 0;

}


/* Contact */
.contact-container {
  border-radius: 6px;
  transition: 0.5s;
}
.label-text {
  text-align:left;
}

/* resume */
.resume-image {
  box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.473);
  transition: 0.5s;
}

.resume-image:hover {
  transform: scale(1.05);
}

/* custom bg colors and shadows */

.bg-c-brown{
  background-color: #705a51;
  box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.24);
}
.bg-c-light-brown{
  background-color: #a89087;
  box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.473);
}
.perm-shadow {
  box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.473);
}
.drop-shadow {
  filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.473));
}

.about-me-container{
  border-radius: 6px;
}