body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Sawarabi Mincho', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3f3f3f;
  /* background-image: url('/src/assets/images/backgrounds/graphpaper.png') ; */
  color: #e2e2e2;
}




h1 {
  font-family: 'Josefin Sans', sans-serif;
}
h2 {
  font-family: 'Josefin Sans', sans-serif;
}
h3 {
  font-family: 'Josefin Sans', sans-serif;
}
.header-text {
  font-family: 'Josefin Sans', sans-serif;
  transition: 0.3s;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  border-top: 1px solid #6a7b76;
}

.text-align-left {
  text-align: left;
}
.pointer {
  cursor: pointer;
}

/* Keyframes and animations*/
@keyframes grow {
  from {transform: scale(1.1);}
  to {transform: scale(1.2);}
}
@keyframes grow-in {
  from 
  {
    transform: scale(0.95);
    opacity: 0;
  }
  to 
  {
    transform: scale(1 );
    opacity: 1;
  }
}
@keyframes grow-in-modal {
  from {transform: scale(0);}
  to {transform: scale(1);}
}
@keyframes fade-in-modal-bg {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes cover-down {
  from {
    bottom: 100% ;

  }
  to {
    
    bottom: 0;
  }
}

.grow {
  animation-name: grow;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.grow-in {
  animation-name: grow-in;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.grow-in-modal {
  animation-name: grow-in-modal;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
.fade-in-modal-bg {
  animation-name: fade-in-modal-bg;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}



/* NavBar */
nav {
  z-index: 2;
  position: relative;
}
.nav-name {
  color: rgb(255, 255, 255);
  font-size: 36px;
  text-decoration: none;
  transition: 0.5s;

}
.cover {
  background-color: #3f3f3f;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0px;
  z-index: 1;
  overflow: auto;
  position: fixed;

  animation-name: cover-down;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

/* About me page */
.portrait {

  border-radius: 50%;
  animation-fill-mode: forwards;
  transition: 0.5s;
  

}

/* Project Page */
.project-card {
  cursor: pointer;
  transition: 0.5s;
}



/* Modal */
.modal-background {
  background:rgba(0, 0, 0, 0.671);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  overflow: auto;
  position: fixed;
}

.modal-container {
  box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.473);
  margin: 50px auto;
  background-color: rgb(202, 202, 202);
  border-radius: 6px;
}

.modal-image {
  box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.473);
  padding: 0;

}


/* Contact */
.contact-container {
  border-radius: 6px;
  transition: 0.5s;
}
.label-text {
  text-align:left;
}

/* resume */
.resume-image {
  box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.473);
  transition: 0.5s;
  width: 70%;
}


/* custom bg colors and shadows */

.bg-c-brown{
  background-color: #705a51;
  box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.24);
}
.bg-c-light-brown{
  background-color: #a89087;
  box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.473);
}
.perm-shadow {
  box-shadow: 0 6px 6px 3px rgba(0, 0, 0, 0.473);
}
.drop-shadow {
  filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.473));
}

.about-me-container{
  border-radius: 6px;
}

/* Hovering Behavior */
@media (hover: hover) {

  .resume-image:hover {
    transform: scale(1.05);
  }

  .project-card:hover {
    box-shadow: 0 6px 6px 3px grey;
    transform: scale(1.05);
  }

  .header-text:hover {
    transform: scale(1.1);
  }

  .nav-name:hover {
    color: rgba(255, 255, 255, 0.568);
    font-size: 36px;
    text-decoration: none;
  }
}