body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-name {
  color: rgb(255, 255, 255);
  font-size: 36px;
  text-decoration: none;
  transition: 0.5s;
}
.nav-name:hover {
  color: rgba(255, 255, 255, 0.568);
  font-size: 36px;
  text-decoration: none;
}

.portrait {
  border-radius: 50%;

}

.project-card {
  cursor: pointer;
  transition: 0.5s;
}

.project-card:hover {
  color: blue !important;
  box-shadow: 0 6px 6px 3px grey;
  transform: scale(1.05);
}